<div class="container-fluid">
  <div id="uploadfile">
    <ejs-uploader
      #defaultupload
      [autoUpload]="false"
      [asyncSettings]="path"
      [maxFileSize]="maxFileSize"
      [sequentialUpload]="true"
      [multiple]="true"
      (success)="onUploadSuccess($event)"
      (failure)="onUploadFailure($event)"
      [allowedExtensions]="imageFormats"
      (selected)="onFileSelected($event)"
      (removing)="onFileRemove($event)"
    ></ejs-uploader>
  </div>
  <button class="btn btn-primary" (click)="onDownload()">Download</button>
</div>
